* text=auto
*.xml text eol=crlf
*.tuning text eol=crlf
*.dreamtree text eol=crlf
*.txt text eol=crlf
*.cs text eol=crlf
bin/*.bat text eol=crlf
bin/* text eol=lf

GameplayData/* -linguist-detectable
notes/* -linguist-detectable
custom_tweaks/* linguist-detectable
*.itun linguist-language=XML
no_boat_taxis/* linguist-detectable
bin/* linguist-detectable
bin/cpchmodprint linguist-language=shell

