GameplayData/* linguist-vendored
GameplayData/* -linguist-detectable
notes/* linguist-vendored
notes/* -linguist-detectable
bin/* -linguist-detectable
* -linguist-detectable
*.itun linguist-detectable
*.itun linguist-language=XML
*.xml linguist-detectable

