* text eol=crlf
*.xml eol=crlf
*.tuning eol=crlf
*.dreamtree eol=crlf
*.txt eol=crlf
*.cs eol=crlf

GameplayData/* -linguist-detectable
notes/* -linguist-detectable
custom_tweaks/* linguist-detectable
*.itun linguist-language=XML
no_boat_taxis/* linguist-detectable
bin/* linguist-detectable
bin/cpchmodprint linguist-language=shell

